.place__title {
	max-width: 460px;
	font-family: Inter;
	font-style: normal;
	font-weight: 900;
	font-size: 72px;
	line-height: 76px;
	margin: 0;
	align-self: end;
}

@media screen and (max-width: 320px) {
	.place__title {
		max-width: calc(100% - 16px*2);
		margin: 0 16px;
		font-size: 32px;
		line-height: 35px;
	}
}