.content {
	min-width: 320px;
	max-width: calc(1280px - 48px*2);
	margin: 0 auto;
}

@media screen and (max-width: 1024px) {
	.content {
		max-width: calc(100% - 48px*2);
	}
}

@media screen and (max-width: 768px) {
	.content {
		max-width: 100%;
	}
}

@media screen and (max-width: 320px) {
	.content {
		max-width: calc(1024px - 48px*2);
	}
}