.footer {
	display: flex;
	justify-content: space-between;
	margin: 0 auto 24px;
}

@media screen and (max-width: 1024px) {
	.footer {	
		gap: 48px 32px;
		grid-template-columns: 440px 1fr;
	}
}

@media screen and (max-width: 768px) {
	.footer {	
	min-width: calc(100% - 24px*2);
	}
}

@media screen and (max-width: 320px) {
	.footer {
		display: flex;
		flex-direction: column;
		max-height: max-content;
		max-width: calc(100% - 16px - 118px);
	}
}